
target-eclipse/*
target/*
stacktrace.log
.cvsignore
CVS
.gradle
bin
build
.settings/gradle/com.springsource.sts.gradle.refresh.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.jdt.core.prefs
.#webclasspath
.settings/org.eclipse.wst.common.project.facet.core.xml
.tomcatplugin
